# fly.toml app configuration file generated for myfute-api on 2026-02-05T20:33:12Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'myfute-api'
primary_region = 'iad'

[build]
dockerfile = "infra/docker/Dockerfile"
[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 0
processes = ['app']

[[vm]]
memory = '1gb'
cpu_kind = 'shared'
cpus = 1
memory_mb = 1024
