services:
  database:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: local_user
      POSTGRES_PASSWORD: local_password
      POSTGRES_DB: local_db
    ports:
      - "5433:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U local_user -d local_db" ]
      interval: 5s
      timeout: 5s
      retries: 5